/** page structure **/

body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: #e4e4e4;
	color:#333;
	text-decoration: none;
}	

.wrapper {
   display: block;
   max-width: 1200px;
   margin: 0 auto;
}

/** nav structure **/

.navbar-header {
	background: #fff;
	height:80px;
}

.right-nav {
	float:right;
	margin-top:16px;
	margin-right:20px;
}

.right-nav a {
	cursor:pointer;
}

.logo {
	padding-left:20px;
	margin-top:12px;
}

@media only screen and (max-width: 540px){
.logo {
	height: 50%;
    padding-top: 6px;
}}

.logo-body {
	max-width:100%;
	padding-left:5px;
}

/** gallery structure **/

.intro {
	width:40%;
	text-align: center;
	margin: 0 auto;
	margin-top:40px;
	margin-bottom:35px;
	line-height:2em;
}

@media screen and (max-width: 900px){
.intro {
	margin-bottom:25px;
}}

@media screen and (max-width: 900px){
.intro {
width:80%;}}

.subtitle {
	margin: 0;
}

.gallery {
	margin-bottom:120px;
	max-width:1200px;
}

.container{
  padding: 11px 0;
  float: left;
  width: 50%;
}

.container:last-child {
  margin-bottom: 60px;
}

@media only screen and (max-width: 540px){
  .container{
    display: block;
    width: 100%;
  }
}

@media
  only screen and (-webkit-max-device-pixel-ratio: 3),
  only screen and (   max--moz-device-pixel-ratio: 3),
  only screen and (     -o-max-device-pixel-ratio: 3/1),
  only screen and (        max-device-pixel-ratio: 3),
  only screen and (                max-resolution: 458dpi),
  only screen and (                max-resolution: 3dppx) { 
    .container{
    display: block;
    width: 100%;
  }}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

/** iPad structure **/
@media screen and (max-width: 900px) and (min-width: 540px){
  .container{
    width: 50%;
  }
}

.content {
  position: relative;
  width: 94%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-top{
  top: 0%;
  margin-left:68px;
  margin-top:-68px;
}

@media screen and (max-width: 900px){
.fadeIn-top{
  top: 0%;
  margin-left:68px;
  margin-top:-68px;
}}

@media screen and (max-width: 1150px) and (min-width: 900px){
.fadeIn-top{
  top: 0%;
  margin-left:48px;
  margin-top:-68px;
}}

@media screen and (max-width: 750px) and (min-width: 450px){
.fadeIn-top{
  top: 0%;
  margin-left:48px;
  margin-top:-58px;
}}

@media screen and (max-width: 450px){
.fadeIn-top{
  top: 0%;
  margin-left:68px;
  margin-top:-68px;
}}

.content-details .ghost-button {
  display: inline-block;
  margin-right:10px;
  width: 80px;
  padding: 6px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  color: #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 25px;
}

.content-details .ghost-button:hover {
  opacity: 0.5;
}

.bottom-left {
  position: absolute;
  bottom: 18px;
  left: 23px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
}

.bottom-left a {
  text-decoration:none !important;
  color:#fff;
  font-size:16px;
}

/** footer structure **/

#copyright {
    clear: both;
    background-color: #010101;
	color: #bcbdbf;
	height:80px;
    padding: 15px 0 30px 0;
	line-height: 1.7em;
    text-align: center;
}

.copyrightinfo a {
	color: #bcbdbf;
}
